.inputsContainer {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-image: linear-gradient(to left, brown, orange);
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

label {
    width: 100px
}

.d-flex {
    margin: 10px !important;
}

.h2 {
    padding: 10px;
}

.btn {
    margin-top: 5px;
}