.btn {
    margin: 0 150px;
    width: 150px;
}

.headingButtonContainer {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border-bottom: 1px solid #F3FFBD;
    padding-bottom: 10px;
}

h2 {
    text-decoration: underline;
    padding-bottom: 20px;
}

h1 {
    color: #F3FFBD;
    border-bottom: 1px solid #F3FFBD;
    padding: 15px;
}

h1 i:hover {
    cursor: pointer;
}

.summary {
    margin-top: 30px;
}

.username {
    text-align: right;
    padding-right: 30px;
}

.registerPrompt {
    margin-top: 50px;
}

.link {
    color: #F3FFBD;
}

.link:hover {
    color: beige;
}