.modalHeader {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
}

.totalVotes {
    display: flex;
    font-size: 15px;
    color: green;
}

.title {
    font-size: 28px;
}

.progressBarContainer {
    margin: 10px;
}

.textContainer {
    font-size: 20px;
}